{% extends 'base.html' %}
{% block content %}
    <body>
        <form action="post">
            <h3 style="text-align: center"><b>Place Order</b> </h3>
             <fieldset style="width: 40%; margin-left:32%">
                <legend>Parcel delivery order:</legend>
                Parcel name:<br>
                <input type="text" name="firstname" value="text">
                <br>
                Parcel number:<br>
                <input type="text" name="lastname" value="number">
                <br>
                Pickup destination:<br>
                <input type="text" name="lastname" value="text">
                <br>
                <br>
                Delivery destination:<br>
                <input type="text" name="lastname" value="text">
                <br>
                
                <input type="submit" value="Submit">
            </fieldset>
          </form>
{% endblock %}